<header id="header">
	 
	<div class="header_top">
		 
	</div>
	<!--/header_top-->

	<div class="header-middle">
		<!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-md-4 clearfix">
					<div class="logo pull-left">
						<a href="index.html"><img src="images/log1.png" alt=""
							style="width: 200px;" /></a>
					</div>

				</div>
				<div class="col-md-8 clearfix">
					<div class="shop-menu clearfix pull-right">
						<ul class="nav navbar-nav">
							<li><a href="/wap-project/IndexView"><i
									class="fa fa-home"></i>Home</a></li> 
							<li><a href="/wap-project/CheckoutView"><i
									class="fa fa-crosshairs"></i> Checkout</a></li>
							<li><a href="cart.jsp"><i class="fa fa-shopping-cart"></i>
									Cart</a></li>
							<li><a href="/wap-project/LoginView"><i
									class="fa fa-lock"></i> Login</a></li>  
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-middle-->


</header>
<!--/header-->